.header__container {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--background);
}

.header__titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  color: var(--text-primary);
  font-size: 20px;
  letter-spacing: 8px;
  padding: 20px 24px 0 24px;
}

.header__logout {
  padding: 20px 24px 0 24px;
  cursor: pointer;
}

.header__border {
  border: none;
  height: 1px;
  background-color: var(--background-secondary);
  margin: 20px 0;
}

