@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Nunito Sans';
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
}

body {
  --background: #202224;
  --background-secondary: #2B2D2F;
  --text-primary: #fff;
  --text-primary-70: rgba(255, 255, 255, 0.7);
  --text-primary-50: rgba(255, 255, 255, 0.5);
  --text-primary-10: rgba(255, 255, 255, 0.1);
}

body[data-theme='light'] {
  --background: #fff;
  --background-secondary: #f3f2f2;
  --text-primary: #202224;
  --text-primary-70: #202224c7;
  --text-primary-50: #20222480;
  --text-primary-10: #20222424;
}